.background-image{
    background:url("https://previews.123rf.com/images/maxkabakov/maxkabakov1705/maxkabakov170503831/78929475-time-concept-green-future-on-textured-concrete-wall-background.jpg");
    height:1650px;
    background-repeat:repeat-y;
}

.movement{
        text-align:center;
}

.event-title{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -350px;
    width: 100px;
    height: 100px;    
}