
  
<div class="container" >
<div>
<h2 ><span  class="badge badge-secondary">Events</span></h2>
</div>
<div class="event1">
  <h2>Discuss the issues</h2>
  <h4>
     Event: 10.01.2018
    </h4>
    <h4>
    Time: 18:00
  </h4>
  <h4>
    Place: X-host
  </h4>
</div>




<div class="event1">
    <h2>Revolution</h2>
    <h4>
       Event: 10.01.2018
      </h4>
      <h4>
      Time: 18:00
    </h4>
    <h4>
      Place: X-host
    </h4>
  </div>



  <div class="event1">
      <h2>Discuss the issues</h2>
      <h4>
         Event: 10.01.2018
        </h4>
        <h4>
        Time: 18:00
      </h4>
      <h4>
        Place: X-host
      </h4>
    </div>
  

    <div class="event1">
        <h2>Discuss the issues</h2>
        <h4>
           Event: 10.01.2018
          </h4>
          <h4>
          Time: 18:00
        </h4>
        <h4>
          Place: X-host
        </h4>
      </div>

      <div class="event1">
          <h2>Discuss the issues</h2>
          <h4>
             Event: 10.01.2018
            </h4>
            <h4>
            Time: 18:00
          </h4>
          <h4>
            Place: X-host
          </h4>
        </div>

        <div class="event1">
            <h2>Discuss the issues</h2>
            <h4>
               Event: 10.01.2018
              </h4>
              <h4>
              Time: 18:00
            </h4>
            <h4>
              Place: X-host
            </h4>
          </div>
        </div >
    
          
    