<mat-toolbar color="primary">

    <div fxLayout="row" fxLayoutAlign="end">
        
        <a mat-button fxFlex="auto" routerLink = "home" id = "logo">#CleanAir</a>

        <div class = "menu">
            <a mat-button fxFlex="auto" routerLink = "wake-up-call" class = "navButton">Wake Up</a>
            <a mat-button fxFlex="auto" routerLink = "news" class = "navButton">News</a>
            <a mat-button fxFlex="auto" routerLink = "movement" class = "navButton">Movement</a>
        </div>
        
    </div>

    <img src="https://scontent-prg1-1.xx.fbcdn.net/v/t1.15752-9/48398171_1971439002934765_109724659087310848_n.png?_nc_cat=102&_nc_ht=scontent-prg1-1.xx&oh=34d6e9fac2e66f7167ed9535970a258c&oe=5CA53157" alt="logooo" class = "imageLogo">
  
  </mat-toolbar>
<router-outlet></router-outlet>