.title1{
    padding-top:20px; 
  
    
}
.image{
    margin-top: 40px;
    height: 420px;
    background-repeat: no-repeat;
    background-size:cover;
    margin-right:40px;
    position: relative;
     text-align: center;
     width: 100%;
     border-radius: 72px; 
}
.click1{
    margin-left:20px; 
    background-color: #333c55;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.text{
    padding: 20px;
    margin-left:10px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder; 
}
